.hero {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 10%;
    max-width: 70%;
    max-height: 100%;
    padding-left: 20%;
    padding-bottom: 30%;
}

.bookside {
    top: 0;
    left: 0;
    position: absolute;
    max-width: 25%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
}