.sign-hero {
    padding-top: 7%;
    display: block;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.sign-container {
    background-color: #D9D9D9;
    width: 40%;
    height: 35vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    /* justify-self: center; */
    width: 75%;
    padding: 5px;
    margin: 5px;
    font-size: 2vw;
    padding: 3%;
    border-radius: 10px;
    border: none;
}

.sign-btn {
    background-color: #6C63FF;
    border: none;
    width: 30%;
    color: #D9D9D9;
    font-family: gelica;
    font-weight: 500;
    font-size: 2vw;
    border-radius: 10px;
    padding: 3%;
    margin-top: 2%;
}


.sign-title {
    color: black;
    font-size: 4vw;
}


.small-txt {
    color: black;
    font-size: 2vw;
}

.small-txt a{
    color: #6C63FF;
}


