html {
    font-family: Gelica;
    background-color: #5CDB95;
    color: #F2F2F2;
    max-width: 95%;
    margin: 0 auto;
}

.root {
    max-width: 100%;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}